.container {
  max-width: 1500px;
  .title {
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    margin-top: 40px;
    margin-bottom: 48px;

    @media (max-width: 1280px) {
      font-size: 40px;
      margin: 20px 0;
      line-height: 50px;
    }

    @media (max-width: 768px) {
      font-size: 26px;
      margin: 10px 0;
      line-height: 35px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 960px) {
      flex-direction: column;
    }
  }
}
